{% extends "../base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ static_url('css/edit-organization.bundle.css') }}">
{% end %}
{% block content %}
{% module xsrf_form_html() %}
<div class="section">
    <div class="container">
        <div class="content">
            <h1 class="">Redigera förening - {{ organization.name }}</h1>
        </div>
        <div class="field">
            <div class="label">Namn</div>
            <div class="control">
                <input class="input" name="name" type="text" value="{{ organization.name }}">
            </div>
        </div>
        <div class="field">
            <div class="label">Beskrivning</div>
            <div class="control">
                <input class="input" name="description" type="text" value="{{ organization.description }}">
            </div>
        </div>
        <div class="field">
            <div class="label" >Medlems/lokalförening i:</div>
            <div class="control">
                <select class="input" name="parent_id" type="text">
                    <option {{ "selected" if parent_id == str(organization.id) else "" }} value="{{ organization.id }}">Ingen</option>
                    {% for org in organizations %}
                    <option {{ "selected" if parent_id == str(org.id) else "" }} value="{{ org.id }}">{{ org.name }}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="active" {{ "checked" if organization.active else None }}>
                Aktiv
            </label>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="show_on_signup" {{ "checked" if organization.show_on_signup else None }}>
                Visa på registreringssidan
            </label>
        </div>
        <div id="recruitmentArea" class="panel is-primary">
            <p class="panel-heading">
                Upptagningsområden
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input id="searchArea" class="input is-primary" type="text" placeholder="Sök">
                    <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                </p>
            </div>
        </div>
        <div id="buttonGroup" class="field">
            <div class="buttons">
                <button type="button" class="button is-success" id="saveButton">
                    Spara
                </button>
                <a class="button is-info" href="/admin/organizations">
                    Gå tillbaka
                </a>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block scripts %}
<script type="text/javascript" charset="utf-8">
    let geodata = {};
    let countryID = "country_{{ country.id }}";
    let organizationID = "{{ organization.id }}";

    geodata[countryID] = {
        name: "{{ country.name }}",
        id: "{{ country.id }}",
        type: "COUNTRY"
    };

    {% for area in areas %}
    geodata["area_{{ area.id }}"] = {
        name: "{{ area.name }}",
        id: "{{ area.id }}",
        type: "AREA",
        path: "{{ area.path }}",
        country_id: "{{ area.country_id }}"
    };
    {% end %}

    {% for municipality in municipalities %}
    geodata["municipality_{{ municipality.id }}"] = {
        name: "{{ municipality.name }}",
        id: "{{ municipality.id }}",
        type: "MUNICIPALITY",
        area_id: "{{ municipality.area_id }}",
        country_id: "{{ municipality.country_id }}"
    };
    {% if municipality.area_id is None %}
    geodata["municipality_{{ municipality.id }}"]["area_id"] = undefined
    {% end %}
    {% end %}

    {% for id in country_ids %}
    geodata["country_{{ id }}"].active = true
    {% end %}

    {% for id in area_ids %}
    geodata["area_{{ id }}"].active = true
    {% end %}

    {% for id in municipality_ids %}
    geodata["municipality_{{ id }}"].active = true
    {% end %}
</script>
<script src="{{ static_url('edit-organization.bundle.js') }}"></script>
{% end %}