{% extends "../base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ static_url('css/geography.bundle.css') }}">
{% end %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="content">
            <h1>Geografi</h1>
            <p>
                Geografin i systemet består av 3 komponenter: länder, områden och kommuner. Alla användare, föreningar, områden och kommuner tillhör ett land.
                Områden är till för att dela in kommuner och andra områden i olika distrikt och detta görs genom en trädstruktur. Exempel på indelningar kan vara föreningsdistrikt, regioner eller valkretsar.
                Kommuner representerar den lägsta nivån och alla användare tillhör en kommun. Kommuner tillhör alltid ett land men kan också tillhöra områden, kommuner har dock inte något under sig, varken områden eller andra kommuner.
            </p>
        </div>
        <div class="select">
            <select id="country" name="country">
                <option disabled selected value>Välj land</option>
                {% for country in countries %}
                <option {{ "selected" if country.id == selected_country.id else "" }} value="{{ country.id }}">{{ country.name }}</option>
                {% end %}
            </select>
        </div>
        <button id="moveButton" type="button" class="button is-success">
            <span class="icon"><i class="fas fa-arrows-alt" aria-hidden="true"></i></span>
            <span>Flytta runt områden</span>
        </button>
        <button id="cancelMoveButton" type="button" class="button is-danger" style="display: none;">
            <span class="icon"><i class="fas fa-ban" aria-hidden="true"></i></span>
            <span>Avbryt</span>
        </button>
        <br>
        <br>
        <div class="field">
            <div class="buttons">
                <button id="addCountry" class="button is-success">
                    <span class="icon"><i class="fas fa-flag" aria-hidden="true"></i></span>
                    <span>Skapa land</span>
                </button>
                <button id="addArea" class="button is-success">
                    <span class="icon"><i class="fas fa-layer-group" aria-hidden="true"></i></span>
                    <span>Skapa område</span>
                </button>
                <button id="addMunicipality" class="button is-success">
                    <span class="icon"><i class="fas fa-home" aria-hidden="true"></i></span>
                    <span>Skapa kommun</span>
                </button>
            </div>
        </div>
        {% module xsrf_form_html() %}
        <br>
        <br>
        <div id="tree">
        </div>
        <div id="deleteModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Ta bort geografi</p>
                    <button id="cancelDeleteSmall" class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p id="deleteText">
                        Är du säker på att du vill ta bort?
                    </p>
                </section>
                <footer class="modal-card-foot">
                    <button id="deleteNodeButton" class="button is-danger">Ta
                        bort</button>
                    <button id="cancelDelete" class="button">Avbryt</button>
                </footer>
            </div>
        </div>
        <div id="editModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Byt namn</p>
                    <button id="cancelEditSmall" class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <input class="input" id="newName" type="text" value="" placeholder="Namn">
                </section>
                <footer class="modal-card-foot">
                    <button id="editNameButton" class="button is-success">Ok</button>
                    <button id="cancelEdit" class="button">Avbryt</button>
                </footer>
            </div>
        </div>
        <div id="addModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p id="addTitle" class="modal-card-title">Skapa nytt område</p>
                    <button id="cancelAddSmall" class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <input class="input" id="addNewName" type="text" value="" placeholder="Namn">
                </section>
                <footer class="modal-card-foot">
                    <button id="addNewButton" class="button is-success" >Ok</button>
                    <button id="cancelAdd" class="button">Avbryt</button>
                </footer>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script>
    let geodata = {};
    let selectedCountryID = "";

    geodata["country_{{ selected_country.id }}"] = {
        name: "{{ selected_country.name }}",
        id: "{{ selected_country.id }}",
        type: "COUNTRY"
    };

    selectedCountryID = "country_{{ selected_country.id }}";

    {% for area in areas %}
    geodata["area_{{ area.id }}"] = {
        name: "{{ area.name }}",
        id: "{{ area.id }}",
        type: "AREA",
        path: "{{ area.path }}",
        country_id: "{{ area.country_id }}"
    };
    {% end %}

    {% for municipality in municipalities %}
    geodata["municipality_{{ municipality.id }}"] = {
        name: "{{ municipality.name }}",
        id: "{{ municipality.id }}",
        type: "MUNICIPALITY",
        area_id: "{{ municipality.area_id }}",
        country_id: "{{ municipality.country_id }}"
    };
    {% if municipality.area_id is None %}
    geodata["municipality_{{ municipality.id }}"]["area_id"] = undefined
    {% end %}
    {% end %}
</script>
<script src="{{ static_url('geography.bundle.js') }}"></script>
{% end %}