{% extends "../base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ static_url('css/members.bundle.css') }}">
{% end %}
{% block content %}
{% module xsrf_form_html() %}
<div id="members-view-root"></div>
{% end %}
{% block scripts %}
<script src="{{ static_url('members.bundle.js') }}"></script>
{% end %}
