{% extends "../base.html" %}
{% block head %}
{% end %}
{% block content %}
<div class="section">
<div class="container">
    {% module xsrf_form_html() %}
    <div class="content">
        <h1>Roller</h1>
        <p>En roll är en samling av rättigheter. Dessa rättigheter styr vad en användare har möjlighet att göra inom systemet. Roller kan utses inom en förening och ett geografiskt område. Detta begränsar rättigheterna till den föreningen och/eller det geografiska området.</p>
    </div>
    <div id="roles-view-root"></div>
    <br>
</div>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('roles.bundle.js') }}"></script>
{% end %}
