@charset "utf-8";

// ag-grid
@use "@ag-grid-community/styles" as ag;
@include ag.grid-styles((
    theme: alpine
));

$purple: #512483;
$orange: #f28903;
$pink: #d82e8a;
$red: #cf232c;
$blue: #00a6d0;
$turquoise: #00a09b;
$primary: $purple;

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";

%calendar-buttons {
    background-color: $primary;
    border-color: transparent;
    color: $white;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

.fc-today-button.fc-button.fc-button-primary {
    @extend %calendar-buttons;
}
.fc-prev-button.fc-button.fc-button-primary {
    @extend %calendar-buttons;
}
.fc-next-button.fc-button.fc-button-primary {
    @extend %calendar-buttons;
}

.fc-today-button.fc-button.fc-button-primary:hover {
    background-color: $primary-dark;
}
.fc-prev-button.fc-button.fc-button-primary:hover {
    background-color: $primary-dark;
}
.fc-next-button.fc-button.fc-button-primary:hover {
    background-color: $primary-dark;
}

.fc-today-button.fc-button.fc-button-primary:disabled {
    background-color: $primary-dark;
    color: $grey-lightest;
}
.fc-prev-button.fc-button.fc-button-primary:disabled {
    background-color: $primary-dark;
    color: $grey-lightest;
}
.fc-next-button.fc-button.fc-button-primary:disabled {
    background-color: $primary-dark;
    color: $grey-lightest;
}

.fc-col-header-cell-cushion {
    color: $black-bis;
}

.fc-daygrid-day * a {
    color: $black-bis;
}

.fc td.fc-daygrid-day.fc-day-today {
    background-color: $warning;
}

.fieldset > legend {
    background: white;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    padding: 0 0.25em;
    margin-left: -0.25em;
    margin-bottom: 0.75rem;
}

.table-calendars td {
    vertical-align: middle;
}

.no-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 100%;
}
