<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403</title>
    <link rel="stylesheet" href="{{ static_url('css/app.bundle.css') }}">
</head>
<body>
    <div class="container has-text-centered">
        <br>
        <br>
        <h1 class="title is-1 is-centered">
            403 - Unauthorized
        </h1>
    </div>
</body>
</html>