<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if 'title' in globals() %}
    <title>MemberPort | {{ title }}</title>
    {% else %}
    <title>MemberPort</title>
    {% end %}
    <link rel="stylesheet" href="{{ static_url('css/app.bundle.css') }}">
    <link rel="stylesheet" href="{{ static_url('fontawesome/css/all.min.css') }}">
    {% block head %}{% end %}
</head>
<body class="has-navbar-fixed-top">
    {% block body %}
    <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ static_url('img/vitt_segel.png') }}"
                    width="28" height="28">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="mainNavbar" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                    <p> Hem</p>
                </a>
                <a href="/feed" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-newspaper" aria-hidden="true"></i>
                    </span>
                    <p> Nyheter</p>
                </a>
                <a href="/" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                    <p> Kalender</p>
                </a>
                {% if admin is True %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="/admin" class="navbar-link">
                        <span class="icon"><i class="fas fa-pen" aria-hidden="true"></i></span>
                        <p>Administration</p>
                    </a>

                    <div class="navbar-dropdown">
                        <a href="/admin/organizations" class="navbar-item">
                            <span class="icon"><i class="fas fa-sitemap" aria-hidden="true"></i></span>
                            <p>Föreningar</p>
                        </a>
                        <a href="/admin/members" class="navbar-item">
                            <span class="icon"><i class="fas fa-users" aria-hidden="true"></i></span>
                            <p>Medlemmar</p>
                        </a>
                        <a href="/admin/roles" class="navbar-item">
                            <span class="icon"><i class="fas fa-award" aria-hidden="true"></i></span>
                            <p>Roller</p>
                        </a>
                        <a href="/feed/post" class="navbar-item">
                            <span class="icon"><i class="fas fa-plus" aria-hidden="true"></i></span>
                            <p>Skapa nyhet/utskick</p>
                        </a>
                        <hr class="navbar-divider">
                        <a href="/admin/geography" class="navbar-item">
                            <span class="icon"><i class="fas fa-city" aria-hidden="true"></i></span>
                            <p>Geografi</p>
                        </a>
                        <a href="/admin/calendar" class="navbar-item">
                            <span class="icon"><i class="fas fa-calendar" aria-hidden="true"></i></span>
                            <p>Ändra kalender</p>
                        </a>
                        <a href="/admin" class="navbar-item">
                            <span class="icon"><i class="fas fa-cog" aria-hidden="true"></i></span>
                            <p>Inställningar för MemberPort</p>
                        </a>
                    </div>
                </div>
                {% end %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon"><i class="fas fa-link" aria-hidden="true"></i></span>
                        <p>Länkar</p>
                    </a>
                    <div class="navbar-dropdown">
                        <a href="https://chat.piratpartiet.se" class="navbar-item">
                            <span class="icon"><i class="fas fa-comments" aria-hidden="true"></i></span>
                            <p>Partichatten</p>
                        </a>
                        <a href="https://mail.piratpartiet.se" class="navbar-item">
                            <span class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                            <p>Partimejl</p>
                        </a>
                        <a href="https://bitwarden.piratpartiet.se" class="navbar-item">
                            <span class="icon"><i class="fas fa-key" aria-hidden="true"></i></span>
                            <p>Lösenord</p>
                        </a>
                        <a href="https://docs.piratpartiet.se" class="navbar-item">
                            <span class="icon"><i class="fas fa-file-alt" aria-hidden="true"></i></span>
                            <p>Dokument</p>
                        </a>
                        <a href="https://osticket.piratpartiet.se" class="navbar-item">
                            <span class="icon"><i class="fas fa-receipt" aria-hidden="true"></i></span>
                            <p>OsTicket</p>
                        </a>
                        <a href="https://mediawiki.piratpartiet.se" class="navbar-item">
                            <span class="icon"><i class="fas fa-file-word" aria-hidden="true"></i></span>
                            <p>Wiki</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="/profile" class="navbar-link">
                        <span class="icon">
                            <i class="fas fa-user-alt" aria-hidden="true"></i>
                        </span>
                        <p>Min profil</p>
                    </a>
                    <div class="navbar-dropdown">
                        <a href="/profile" class="navbar-item">
                            Profil och medlemskap
                        </a>
                        {% if not current_user.verified %}
                        <a href="/verify" class="navbar-item">
                            Verifiera e-post
                        </a>
                        {% end %}
                        <a href="{{ current_user.logout_url }}" class="navbar-item">
                            Logga ut
                        </a>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="buttons">

                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% end %}
    <script>
        const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
    </script>
    {% end %}
    {% block scripts %}{% end %}
</body>
</html>
