{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/dashboard.bundle.css') }}">
{% end %}

{% block content %}
<section class="section">
    {% autoescape None %}
    <div class="notification is-warning" id="onboardingNotification">
        <button class="delete" onclick="toggleNotification('onboardingNotification')"></button>
        <div class="content">
            {% if not is_bot %}
            {% if onboarding %}
            <h3 class="title">Välkommen {{ xhtml_escape(name) }}! Ditt medlemsnummer är: #{{ str(number) }}</h3>
            <p>Som ny medlem i Piratpartiet rekommenderar vi att du går igenom den här onboardingen.</p>
            {% else %}
            <h3 class="title">Välkommen tillbaka {{ xhtml_escape(name) }}! #{{ str(number) }}</h3>
            {% end %}
            {% else %}
            <h3 class="title">Du är inloggad som {{ xhtml_escape(name) }}</h3>
            <p>Detta är ett systemkonto som kan användas för att administrera systemet. Du kan inte bli medlem i föreningar genom detta konto.</p>
            {% end %}
            {% if verified is False %}
            <p>Du har inte verifierat din mail än, detta behövs göra för att du fullt ut ska kunna delta. Klicka på knappen nedanför för att göra det</p>
            {% end %}
        </div>
        <div class="buttons">
            {% if onboarding %}
            <button class="button is-success">Till onboardingen</button>
            {% end %}
            {% if verified is False %}
            <a class="button is-success" href="/verify">Verifiera mail</a>
            {% end %}
        </div>
    </div>
    <div class="columns">
        <div class="column is-2">
            {% include 'menu.html' %}
        </div>
        <div class="column is-6">
            {% if feed_url != "" %}
            <div class="content">
                <h1 class="title has-text-centered">
                    Senaste nytt
                </h1>
                <div class="box">
                    <article class="message is-primary" id="news1">
                        <div class="message-header">
                            <p id="news1-title">Rubrik</p>
                            <button class="delete" aria-label="delete" onclick="toggleNotification('news1')"></button>
                        </div>
                        <div class="message-body">
                            <p id="news1-description">
                                Kort beskrivning
                            </p>
                            <a target="_blank" rel="noopener noreferrer" id="news1-link"><button class="button is-info">Läs mer...</button></a>
                        </div>
                    </article>
                    <article class="message is-primary" id="news2">
                        <div class="message-header">
                            <p id="news2-title">Rubrik</p>
                            <button class="delete" aria-label="delete" onclick="toggleNotification('news2')"></button>
                        </div>
                        <div class="message-body">
                            <p id="news2-description">
                                Kort beskrivning
                            </p>
                            <a target="_blank" rel="noopener noreferrer" id="news2-link"><button class="button is-info">Läs mer...</button></a>
                        </div>
                    </article>
                </div>
            </div>
            {% end %}
            {% for post in posts %}
            <div class="box" style="overflow: scroll;">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <h3>{{ xhtml_escape(post.title) }}</h3>
                            <p>
                                Inlägg av
                                {% if hasattr(authors[post.author].name, 'first') %}
                                <b>{{ xhtml_escape(authors[post.author].name.first) + " " + xhtml_escape(authors[post.author].name.last) }}</b>
                                {% else %}
                                <b>{{ xhtml_escape(authors[post.author].name) }}</b>
                                {% end %}
                                <i>{{ post.created.isoformat(' ', 'minutes') }}</i>
                            </p>
                            <hr>
                            {{ post.content }}
                        </div>
                    </div>
                </article>
            </div>
            {% end %}
        </div>
        <div class="column is-4">
            <div id="calendar" style="max-width: 900px;"></div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script>
    function toggleNotification(id) {
        let notification = document.getElementById(id);
        if (notification.classList.contains('is-hidden')) {
            notification.classList.remove('is-hidden');
        } else {
            notification.classList.add('is-hidden');
        }
    }
    {% if feed_url != "" %}
    const RSS_URL = '{{ feed_url }}';

    fetch(RSS_URL)
        .then(response => response.text())
        .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
        .then(data => {
            const items = data.querySelectorAll("item");

            if (items.length >= 1) {
                document.getElementById('news1-title').textContent = items[0].querySelector("title").textContent;
                document.getElementById('news1-link').setAttribute("href", items[0].querySelector("link").innerHTML);
                document.getElementById('news1-description').textContent = items[0].querySelector("description").textContent;
            } else {
                document.getElementById('news1').remove();
            }

            if (items.length >= 2) {
                document.getElementById('news2-title').textContent = items[1].querySelector("title").textContent;
                document.getElementById('news2-link').setAttribute("href", items[1].querySelector("link").innerHTML);
                document.getElementById('news2-description').textContent = items[1].querySelector("description").textContent;
            } else {
                document.getElementById('news2').remove();
            }
        });
    {% end %}
</script>
<script src="{{ static_url('dashboard.bundle.js') }}"></script>
{% end %}