{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/profile.css') }}">
{% end %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="content">
            <h1 id="profil">Min profil</h1>
        </div>
        <div class="box">
            <div class="notification is-success {{ "" if state == "success" else "is-hidden" }}">
                <button type="button" class="delete"></button>
                <p id="successText">Ändringar sparade!</p>
            </div>
            {% for error in errors %}
            {% if error.type == 'error' %}
            <div id="errorNotification" class="notification is-danger">
                <button type="button" class="delete"></button>
                <p id="errorText">{{ error.text }}</p>
            </div>
            {% end %}
            {% end %}

            {% module xsrf_form_html() %}
            <form id="settings" action="{{ action }}" method="{{ method }}" autocomplete="off">
                <div class="field">
                    {% for node in nodes %}
                    {% if node.attributes.name == 'csrf_token' %}
                    <input name="{{ node.attributes.name }}" type="hidden" value="{{ node.attributes.value }}" />
                    {% elif node.attributes.name == 'traits.gender' %}
                    <div class="field">
                        <label class="label" for="{{ node.attributes.name }}">{{ placeholders[node.attributes.name] }}</label>
                        <div class="control">
                            <div class="select" style="width: 100%;">
                                <select id="{{ node.attributes.name }}" name="{{ node.attributes.name }}" style="width: 100%;">
                                    <option {{ "selected" if node.attributes.get('value', '') == "" else "" }} disabled value>Välj självupplevda kön</option>
                                    <option {{ "selected" if node.attributes.get('value', '') == "male" else "" }} value="male">Man</option>
                                    <option {{ "selected" if node.attributes.get('value', '') == "female" else "" }} value="female">Kvinna</option>
                                    <option {{ "selected" if node.attributes.get('value', '') == "other" else "" }} value="other">Annan</option>
                                    <option {{ "selected" if node.attributes.get('value', '') == "unknown" else "" }} value="other">Vill inte uppge</option>
                                </select>
                            </div>
                        </div>
                        <p class="help">Läs om varför vi behöver denna uppgift <a href="#">här</a>.</p>
                    </div>
                    {% elif node.attributes.name == 'traits.municipality_id' %}
                    <label class="label">
                        Land
                        <div class="field">
                            <div class="control">
                                <div class="select" style="width: 100%;">
                                    <select id="country" name="country" style="width: 100%;">
                                        <option disabled value>Välj ditt land</option>
                                        {% for country in countries %}
                                        <option {{ "selected" if user_municipality.country_id == country.id else "" }} value="{{ country.id }}">{{ country.name }}</option>
                                        {% end %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </label>
                    <label class="label">
                        {{ placeholders[node.attributes.name] }}
                        <div class="field">
                            <div class="control">
                                <div class="select" style="width: 100%;">
                                    <select id="{{ node.attributes.name }}" name="{{ node.attributes.name }}"
                                        style="width: 100%;">
                                        <option disabled value>Välj din kommun</option>
                                        {% for municipality in municipalities %}
                                        <option {{ "selected" if node.attributes.value == municipality.id else "" }}
                                            value="{{ municipality.id }}">{{ municipality.name }}</option>
                                        {% end %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </label>
                    {% elif node.attributes.name == 'method' and node.group == 'profile' %}
                    <input name="method" type="hidden" value="{{ node.attributes.value }}">
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-success is-fullwidth">{{ placeholders[node.attributes.name] }}</button>
                        </div>
                    </div>
                    {% elif node.attributes.name != 'password' and node.group == 'profile' %}
                    <label class="label">
                        {{ placeholders[node.attributes.name] }}
                        {% if node.attributes.name == 'traits.email' %}
                        {% if current_user.verified %}
                        <span class="icon has-text-success">
                            <i title="Verifierad" class="fas fa-check-square"></i>
                        </span>
                        {% else %}
                        <span class="icon has-text-danger">
                            <i title="Ej verifierad" class="fas fa-ban"></i>
                        </span>
                        <a href="/verify">Du kan verifiera din e-post här</a>
                        {% end %}
                        {% end %}
                    </label>
                    <div class="field">
                        <div class="control">
                            <input class="input" name="{{ node.attributes.name }}" type="{{ node.attributes.type }}"
                                value="{{ node.attributes.value if hasattr(node.attributes, 'value') else '' }}"
                                id=" {{ node.attributes.name }}">
                        </div>
                    </div>
                    {% end %}
                    {% for error in node.messages.value %}
                    {% if error.type == 'error' %}
                    <div class="notification is-danger">
                        <button type="button" class="delete"></button>
                        {{ error.text }}
                    </div>
                    {% end %}
                    {% end %}
                    {% end %}
                </div>
            </form>
            <br>
        </div>

        {% if current_user.user != None %}
        <div class="content">
            <h1>Mina medlemskap</h1>
        </div>

        <div id="memberships-view-root" user-id="{{ str(current_user.user_id) }}" municipality-id="{{ str(user_municipality.id) }}"></div>

        <div class="content">
            <h1>Mina ledare</h1>


            <h1 id="subscriptions">Mail- och SMS-prenumerationer</h1>
        </div>
        {% end %}

        <table class="table is-striped is-hoverable">
            <thead>
                <tr>
                    <th>Orsak</th>
                    <th>Mail</th>
                    <th>SMS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Medlemskap på väg att löpa ut</td>
                    <td><button class="button is-success is-light" id="but1"
                            onclick="togglebutton('but1');toggleYesNoButton('but11')">
                            <p id="but11">Ja</p>
                        </button></td>
                    <td><button class="button is-danger is-light" id="but2"
                            onclick="togglebutton('but2');toggleYesNoButton('but22')">
                            <p id="but22">Nej</p>
                        </button></td>
                </tr>
                <tr>
                    <td>Medlemsmail (varannan vecka)</td>
                    <td><button class="button is-success is-light" id="but3"
                            onclick="togglebutton('but3');toggleYesNoButton('but33')">
                            <p id="but33">Ja</p>
                        </button></td>
                    <td><button class="button is-danger is-light" id="but8"
                            onclick="togglebutton('but8');toggleYesNoButton('but88')">
                            <p id="but88">Nej</p>
                        </button></td>
                </tr>
                <tr>
                    <td>Nationella utskick</td>
                    <td><button class="button is-success is-light" id="but4"
                            onclick="togglebutton('but4');toggleYesNoButton('but44')">
                            <p id="but44">Ja</p>
                        </button></td>
                    <td><button class="button is-danger is-light" id="but5"
                            onclick="togglebutton('but5');toggleYesNoButton('but55')">
                            <p id="but55">Nej</p>
                        </button></td>
                </tr>
                <tr>
                    <td>Lokala utskick</td>
                    <td><button class="button is-success is-light" id="but6"
                            onclick="togglebutton('but6');toggleYesNoButton('but66')">
                            <p id="but66">Ja</p>
                        </button></td>
                    <td><button class="button is-danger is-light" id="but7"
                            onclick="togglebutton('but7');toggleYesNoButton('but77')">
                            <p id="but77">Nej</p>
                        </button></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
</section>
{% end %}
{% block scripts %}
<script src="{{ static_url('profile.bundle.js') }}"></script>
{% end %}